@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --swiper-pagination-color: #4F48EC;
}

@layer base {

  @font-face {
    font-family: 'Neuething-Sans-Test';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/NeuethingVariableTest-RegularExtraExpanded.otf') format('opentype');
  }

  @font-face {
    font-family: 'Neuething-Sans-Test';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./assets/fonts/NeuethingVariableTest-MediumExtraExpanded.otf') format('opentype');
  }

  @font-face {
    font-family: 'Neuething-Sans-Test';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./assets/fonts/NeuethingVariableTest-SemiBoldExtraExpanded.otf') format('opentype');
  }

}

.hero-bg{
  
  background-color: aqua;

}
.bg-biden{
  color: green;
  background-color: aqua;
  background: rgba(79, 72, 236, 0.05);
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
